<div id="page">
    <div class="page-title">
        <h1 class="">Login</h1>

    </div>
    <div class="page-content">
        <div id="loginPage">
            <div class="label"><label for="username">Username</label></div>
            <div class="input"><input type="text" id="username"/></div>
            <div class="label"><label for="password">Password</label></div>
            <div class="input"><input type="password" id="password" /></div>
            <div></div>
            <a class="submit" href="#" onclick="actions.User.Login()">Login!</a>
        </div>  
    </div>
  
</div>