<div id="page">
    <h1 class="page-title">Create an account</h1>
    <div id="registerPage">
        <div class="label"><label for="fullname">Fullname</label></div>
        <div class="input"><input type="text" id="fullname"/></div> 
        <div class="label"><label for="year">Year</label></div>
        <div class="input"><input type="number" id="year" /></div>
        <div class="label"><label for="username">Username</label></div>
        <div class="input"><input type="text" id="username"/></div>
        <div class="label"><label for="password">Password</label></div>
        <div class="input"><input type="password" id="password" /></div>
        <div></div>
        <a class="submit" href="#" onclick="actions.User.Register()">Register!</a>
    </div>
</div>