
        <title>{{content}}</title>
        <link href="{{assets.fontawesome.css}}" rel="stylesheet" />
        <link href="{{tpl}}/assets/themes/Design/bootstrap.min.css" rel="stylesheet" />
        <link href="{{tpl}}/assets/css/main.min.css" rel="stylesheet" />
        <link href="{{tpl}}/assets/css/{{content}}.min.css" rel="stylesheet" />
        <script src="{{assets.jquery.js}}" ></script>
        <script src="{{assets.bootstrap.js}}" ></script>
        <script src="{{assets.html2pdf.js}}" ></script>
        <script src="{{assets.chartjs.js}}" ></script>
